/*common css**/
body {
    font-family: 'Lato', sans-serif;
}

/**header area*/
header {
    background-color: #FCEAEE;

}

.header-area {
    display: flex;
    align-items: center;
    margin-left: 50px;
    margin-right: 50px;

}

.header-title {
    font-size: 70px;
}

.header-img img {
    height: 700px;
    width: 500px;
}

.text {
    color: darkgray;
}

button {
    background-color: #E55473;
    color: #FCEAEE;
    border: none;
    border-radius: 5px;
    padding: 15px 20px;
}

/**common area*/
.common-area {
    text-align: center;
    margin-top: 50px;
}

.common-title {
    font-size: 30px;
}

/**feature section*/
.flower {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 50px;
    margin-left: 50px;
}

.flower img {
    height: 300px;
    width: 200px;
}


.flower a {
    color: black;

}

.delivery {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 150px;
    background-color: rgb(240, 222, 222);
    padding: 20px;
    margin-left: 70px;
    margin-right: 70px;
}

/***sales up*/
span {
    color: #E55473;
}

.sales-info {
    text-align: center;
}

.sales-area {
    background-color: #FCEAEE;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 50px;

}

/**instagram**/
.flowers img {
    height: 300px;
    width: 250px;
    margin-left: 40px;
    margin-top: 50px;
}

/**latest deals**/
.latest-deals {
    background-image: url(images/Rectangle\ 9.png);
    padding: 40px;
    margin-top: 70px;
    margin-left: 40px;
    margin-right: 40px;
}

input {
    width: 400px;
    padding: 15px 20px;
    border: none;
}


.text-flower {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 50px;
    margin-left: 40px;
    margin-right: 40px;
}

.text-flower img {
    width: 400px;
    height: 500px;
}



/***footer area*/
footer {
    background-color: black;
    margin-top: 50px;
    padding: 50px;
    text-align: center;
}

footer h3 {
    color: #FCEAEE;
    font-size: 30px;

}